<% @arti.each do |a| %>


          <h1 class="mt-4"><%= link_to a.titulo,:action=>"show", :id=> a.id %></h1>
         <hr>
          <p>Publicado el <%= a.fecha %></p>
         <hr>
         <img class="img-fluid rounded" src="<%= a.image %>" alt="">
          <hr>

          <!-- Post Content -->
          <%= a.contenido[1..300] %> <p><%= link_to "Seguir leyendo",:action=>"show", :id=> a.id %></p>
          <!--  FIN  Post Content -->
          
          <hr>
<%end%>         